.link{
    height: 100%;
    width: 60%;
}

.link3{
    height: 100%;
    width: 30%;
}

.link2{
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    width: 15%;
}

.button2:hover{
    background-color: #D2D2D2;
}

.button:hover{
    background-color: #DAC483;
}

.logo{
    height: 100%;
    font-weight: bold;
    font-size: 5em;   
}

.footer{
    background-color: #A28329;
}

.confirmUpload:hover{
    background-color: #929292dc;
}